<!DOCTYPE html>
<html>
<head>
    <title>soCket root</title>
</head>

<body style="height: 100%">
    <style>
        body {
            height: auto;
            background: #0e0d13;
            text-align: center;
        }

        h1 {
            font-size: 95px;
            color: #F6F6F6
        }

        a {
            font-size: 50px;
        }
    </style>

    <h1>User defined roots:</h1>
    <a href="localhost:8080/home">localhost:8080/home</a>
    <br><br><br>
    <a href="localhost:8080/home/about">localhost:8080/home/about</a>
    <!-- <p>localhost:8080/home/about</p>
    <br><br><br>
    <p>localhost:8080/home/about</p>
    <br><br><br> -->
</body>

</html>